<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/index.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>สต๊อก กระจกกรอบรูป</h1>
    </header>
    <p class="latest-update">อัปเดตล่าสุด : {{ latestUpdate }}</p>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ขนาด</th>
                    <th>รอล้าง</th>
                    <th>พร้อมส่ง</th>
                </tr>
            </thead>
            <tbody>
                {{#each stockData}}
                    <tr>
                        <td>{{size}}</td>
                        <td>{{cut}}</td>
                        <td>{{ready}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="button-container">
        {{!-- <a href="/history" class="produce-record">ประวัติการอัปเดต</a> --}}
        <a href="/update" class="update-stock">อัปเดตสต๊อก</a>
    </div>
</body>
</html>