<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/index.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>สต๊อก กระจกกรอบรูป</h1>
    </header>
    <p class="latest-update">อัปเดตล่าสุด : </p>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ขนาด</th>
                    <th>รอล้าง</th>
                    <th>พร้อมส่ง</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>4*6</td>
                    <td>100</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>5*7</td>
                    <td>100</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>6*8</td>
                    <td>100</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>8*10</td>
                    <td>100</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>8*12</td>
                    <td>100</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>8*20</td>
                    <td>100</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>10*12</td>
                    <td>100</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>10*15</td>
                    <td>100</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>12*15</td>
                    <td>100</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>12*18</td>
                    <td>100</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>15*20</td>
                    <td>100</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>15*21</td>
                    <td>100</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>16*20</td>
                    <td>100</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>10*27</td>
                    <td>100</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>12*27</td>
                    <td>100</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>A4</td>
                    <td>100</td>
                    <td>200</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="button-container">
        <a href="#">ประวัติการผลิต</a>
        <a href="#">อัปเดตรายการตัด</a>
    </div>
</body>
</html>